### Demographic data analyzer

In [1]:
import pandas as pd

In [27]:
df = pd.read_csv("/Users/ezequielpolacco/Downloads/adult.data.csv")

In [28]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [29]:
df["race"].unique().tolist()

['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

In [67]:
race_count = pd.Series(df["race"]).value_counts()

In [69]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [110]:
average_age_men = round(df[df.sex == "Male"].age.mean(), 2)
average_age_men

39.43

In [178]:
percentage_bachelor = (((df['education'] == "Bachelors").sum()) / (df['education'].count()))*100
percentage_bachelor

16.44605509658794

In [206]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = sum((df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate"))
higher_education

7491

In [221]:
lower_education = df['education'].count() - higher_education
lower_education

lower_education2 = sum((df.education != "Bachelors") & (df.education != "Masters") & (df.education != "Doctorate"))
lower_education2

25070

In [228]:
higher_education_rich = ((sum((df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate") & (df.salary == ">50K")))/ higher_education)*100
higher_education_rich

98.5716192764651

In [229]:
lower_education_rich = ((sum((df.education != "Bachelors") & (df.education != "Masters") & (df.education != "Doctorate") & (df.salary == ">50K")))/ lower_education)*100
lower_education_rich

17.3713601914639

In [237]:
min_work_hours = min(df["hours-per-week"])
min_work_hours

1

In [238]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = sum((df.salary == ">50K") & (df["hours-per-week"] == min_work_hours))
num_min_workers

2

In [242]:
filtro_workers_20 = (df["hours-per-week"] == min_work_hours).sum()
filtro_workers_20

20

In [394]:
rich_percentage = (sum((df.salary == ">50K") & (df["hours-per-week"] == min_work_hours)) / ((df["hours-per-week"] == min_work_hours).sum()))*100
rich_percentage

10.0

In [371]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country =(df[df["salary"]==">50K"]["native-country"].value_counts()/df["native-country"].value_counts()*100).idxmax()
highest_earning_country

'Iran'

In [374]:
highest_earning_country_percentage =(df[df["salary"]==">50K"]["native-country"].value_counts()/df["native-country"].value_counts()*100).max()
highest_earning_country_percentage

41.86046511627907

In [392]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = (df[(df["native-country"] == "India")&(df["salary"]==">50K")]["occupation"].value_counts().idxmax())
top_IN_occupation

'Prof-specialty'